<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <form action="/student/create" method="POST" id="create-form">
      <div>
       <p>
      <label>Roll Number:</label>
      <input type="text" name="roll" required />
    </p>
      </div>
      <div>
    <p>
      <label>First Name:</label>
      <input type="text" name="f_name" required />
    </p>
      </div>
      <div>
    <p>
      <label>Last Name:</label>
      <input type="text" name="l_name" />
    </p>
      </div>
        <p>
      <input type="submit" value = "Submit">
    </p>
      </div>
      </form>
</body>
</html>